*.ind
*.ilg
*.idx
*.log
*.gtex
*.glog
*.aux
*.synctex.gz
*.out
*.toc
*.gaux
*.synctex(busy)
psalmi/unused/*


# ignore static files from the NR website that end up intertwined with our directory

android-chrome-192x192.png
android-chrome-256x256.png
apple-touch-icon.png
banner.png
browserconfig.xml
css/
favicon-16x16.png
favicon-32x32.png
favicon.ico
js/
mstile-150x150.png
pngs/
safari-pinned-tab.svg
site.webmanifest

